.container {
	width: 100%;
	padding: 10px;
	font-weight: normal;
	background-color: var(--sub-light-color);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.container > div {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
	margin: 10px 0;
}

.container p {
	margin-bottom: 10px;
}

.imgAuthor {
	display: block;
	margin-top: 20px;
}
