.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(100vh - 6.5rem);
	font-size: 2rem;
}

.container img {
	max-height: 300px;
	object-fit: contain;
}

.container h1.errorText {
	margin-bottom: 0;
	color: var(--error-color);
	font-size: 2.5rem;
	font-weight: 700;
}
