.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: calc(100vh - 4rem);
}

.clickText {
	font-size: 6rem;
	color: var(--primary-black);
}
