.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(100vh - 6.5rem);
	font-size: 2rem;
}

.container img {
	max-height: 300px;
	object-fit: contain;
	filter: opacity(0.5);
}

.container h1.errorText {
	margin-bottom: 0;
	padding: 10px;
	color: var(--error-color);
	font-size: 2.5rem;
	font-weight: 700;
	word-break: keep-all;
	text-align: center;
}

.backBtn {
	font-family: inherit;
	margin-top: 1rem;
	padding: 2rem 1rem;
	border: none;
	background-color: var(--primary-title-color);
	color: var(--primary-white);
	font-size: 1.5rem;
	cursor: pointer;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
