.container {
	position: fixed;
	top: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 20px;
	background-color: var(--primary-gray2);
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	color: var(--primary-font-color);
}

.inner button {
	padding: 1rem;
}

.inner svg {
	color: var(--primary-font-color);
}
