.iconContainer {
	position: absolute;
	top: 14px;
	left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	width: auto;
	height: 35px;
	margin: 6px 3px 0 0;
	background-color: var(--primary-color);
	border-radius: 50%;
}

.calendarIcon {
	color: var(--primary-color);
}

@media (max-width: 500px) {
	.icon {
		margin-top: 0;
	}
}

@media (max-width: 400px) {
	.iconContainer {
		top: 5px;
		left: 10px;
	}
}
